---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
  <div class="tags">
    <a href="{{ site.github.repo }}/blob/master/{{ page.path }}" class="pull-right">文章源码</a> {% for tag in page.tags %}<a href="/tag/#{{ tag }}">#{{ tag }}</a> {% endfor %}
  </div>
  <div class="pull-right" style="margin-top: 1rem;">{% qrcode `site.url` `page.url` fill:white color:black size:160 %}</div>
</div>

<div class="pagination" style="clear:both;">
  {% if page.previous %}
  <a class="pagination-item older" href="{{ page.previous.url }}">{{ page.previous.title }}</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if page.next %}
  <a class="pagination-item newer" href="{{ page.next.url }}">{{ page.next.title }}</a>
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
<script>
  (function() {
      if (location.pathname === '/') {
          return;
      }
      var main = document.querySelector('.content');
      var script = document.createElement('script');
      script.src='https://utteranc.es/client.js';
      script.setAttribute('repo', 'michalliu/hellohtml5.com');
      script.setAttribute('issue-term', 'pathname');
      script.setAttribute('label', '💬 文章点评');
      script.setAttribute('theme', 'boxy-light');
      script.setAttribute('crossorigin', 'anonymous');
      main.appendChild(script);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://github.com/utterance/utterances">comments powered by utterances.</a></noscript>
